{
  "processors": ["stylelint-processor-html"],
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": [
        "function",
        "if",
        "extends",
        "warn",
        "return"
      ]
    }],
    "no-empty-source": null
  }
}
