:root {
  --base-speed: 150ms;
  --ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes rotate360 {
  100% {
    transform: rotate(360deg);
  }
}
