/**
 * Types
 * Circle:     <button class="circle"></button>
 * Icon only:  <button class="icon"></button>
 *
 * States
 * Default:   <button></button>
 * Plain:     <button class="plain"></button>
 * Warning:   <button class="warning"></button>
 * Disabled:  <button class="disabled"></button>
 *            <button disabled></button>
 */
button {
  --button-circle-size: 50px;
  --button-background: var(--brand-green);
  --button-outline: var(--brand-green-low);
  --button-icon: var(--text-color-button);

  display: flex;
  align-items: center;
  cursor: pointer;
  background: var(--button-background);
  font-size: var(--text-size-base);
  color: var(--text-color-button);
  border: none;
  border-radius: var(--border-radius);
  padding: 12px 18px;
  transition: background-color 100ms var(--ease-out-back);

  &:active,
  &:focus {
    outline: none;
    border: 4px solid var(--button-outline);
  }

  & svg {
    margin-right: calc(var(--base-gap) / 2);
    stroke: var(--button-icon);
    width: var(--icon-size-base);
    height: var(--icon-size-base);

    & rect,
    & path,
    & line,
    & polygon,
    & polyline {
      stroke: var(--button-icon);
    }
  }


  &.inverse svg {
    --button-icon: var(--text-color-base);

    & rect,
    & path,
    & line,
    & polygon,
    & polyline {
      --button-icon: var(--text-color-base);
    }
  }

  &.circle {
    border-radius: 50%;
    width: var(--button-circle-size);
    height: var(--button-circle-size);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    & svg {
      margin: 0 auto;
    }
  }

  &.icon {
    background: transparent;
    padding: 0;
  }

  &.warning {
    --button-background: var(--brand-red);
    --button-outline: var(--brand-red-low);
  }

  &.plain {
    --button-background: var(--dark-grey);
    --button-outline: var(--grey);
  }

  &.disabled,
  &[disabled] {
    --button-background: var(--grey);
    color: var(--dark-grey);
    cursor: not-allowed;

    & svg {
      opacity: 0.3;
      filter: invert(0);
    }
  }
}
