/**
 * Types
 * Circle:     <button class="circle"></button>
 * Icon only:  <button class="icon"></button>
 *
 * States
 * Default:   <button></button>
 * Plain:     <button class="plain"></button>
 * Warning:   <button class="warning"></button>
 * Disabled:  <button class="disabled"></button>
 *            <button disabled></button>
 */
button {
  --button-padding: 6px;
  --button-circle-size: 50px;
  --button-background: var(--brand-green);
  --button-focus: var(--brand-green-low);
  --button-icon: var(--text-color-button);

  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: var(--button-background);
  font-size: var(--text-size-base);
  color: var(--text-color-button);
  border: none;
  border-radius: var(--border-radius);
  padding: calc(2 * var(--button-padding)) calc(3 * var(--button-padding));
  transition: background-color 100ms var(--ease-out-back);

  &::after {
    opacity: 0;
    content: "";
    position: absolute;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    top: 0;
    left: 0;
    transform: translate(-4px, -4px);
    border-radius: var(--border-radius);
    background: transparent;
    border: 6px solid var(--button-focus);
    z-index: 0;
  }

  &:active,
  &:focus {
    outline: none;
  }

  &:active::after,
  &:focus::after {
    opacity: 1;
  }

  & span {
    color: var(--text-color-button);
  }

  & svg {
    stroke: var(--button-icon);
    width: var(--icon-size-base);
    height: var(--icon-size-base);

    & + * {
      margin-left: calc(var(--base-gap) / 2);
    }

    & rect,
    & path,
    & line,
    & polygon,
    & polyline {
      stroke: var(--button-icon);
    }
  }

  &.inverse svg {
    --button-icon: var(--text-color-base);

    & rect,
    & path,
    & line,
    & polygon,
    & polyline {
      --button-icon: var(--text-color-base);
    }
  }

  &.small {
    --button-padding: 4px;
  }

  &.circle {
    border-radius: 50%;
    width: var(--button-circle-size);
    height: var(--button-circle-size);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    & svg {
      margin: 0 auto;
    }
  }

  &.icon {
    --button-background: transparent;
    padding: 0;
  }

  &.warning {
    --button-background: var(--brand-red);
    --button-focus: var(--brand-red-low);
  }

  &.plain {
    --button-background: var(--dark-grey);
    --button-focus: var(--grey);
  }

  &.disabled,
  &[disabled] {
    --button-background: var(--grey);
    color: var(--dark-grey);
    cursor: not-allowed;

    & svg {
      opacity: 0.3;
      filter: invert(0);
    }
  }
}
