@import "./colors";
@import "./fonts";
@import "./layout";
@import "./animations";

$button-circle-size: 40px;

button {
  cursor: pointer;
  background: $green;
  font-size: $text-size-base;
  color: $text-color-button;
  border: none;
  border-radius: $border-radius;
  padding: 1.5vh 3vw;
  box-shadow: $shadow;
  transition: background-color 100ms $ease-out-back;

  &:active, &:focus {
    outline: none;
  }

  &.rounded {
    border-radius: $border-radius;
  }

  &.circle {
    border-radius: 50%;
    width: $button-circle-size;
    height: $button-circle-size;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.icon {
    background: transparent;
    box-shadow: none;
    padding: 0;
  }
}
