@import "./variables";

button {
  background: $blue;
  font-size: $text-size-base;
  border: none;
  padding: 1.5vh 3vw;

  &:active, &:focus {
    outline: none;
  }

  &.rounded {
    border-radius: $border-radius;
  }

  &.icon {
    background: transparent;
    padding: 0;
  }
}
