:root {
  --brand-green: rgb(65, 181, 158);
  --brand-green-lighten: color(rgb(65, 181, 158) tint(70%));
  --brand-green-medium: color(rgb(65, 181, 158) a(70%));
  --brand-green-low: color(rgb(65, 181, 158) a(30%));

  --brand-yellow: rgb(248, 197, 89);
  --brand-yellow-medium: color(rgb(248, 197, 89) a(50%));
  --brand-yellow-low: color(rgb(248, 197, 89) a(20%));

  --brand-red: rgb(222, 74, 77);
  --brand-red-medium: color(rgb(222, 74, 77) a(70%));
  --brand-red-low: color(rgb(222, 74, 77) a(30%));

  --brand-blue: rgb(59, 156, 225);
  --brand-blue-low: color(rgb(59, 156, 225) a(20%));

  --light-grey: #f5f5f5;
  --grey: rgb(216, 216, 216);
  --dark-grey: color(rgb(216, 216, 216) b(+30%));

  --custom-black: #1a1e1f;
}
