$light-grey: #f5f5f5;
$grey: #d8d8d8;
$green: #17c37b;
$yellow: #fdf06f;
$red: #ef494f;
$blue: #0e38b1;

$background-primary: white;
$background-secondary: $light-grey;

$text-color-base: black;
$text-color-secondary: rgba(0, 0, 0, 0.6);
$text-color-inverse: white;
$text-color-special: $green;
$text-color-button: white;
$link-color: black;

$dark-transparency: rgba(0, 0, 0, 0.12);
