$light-grey: #F5F5F5;
$grey: #D8D8D8;
$green: #17C37B;
$yellow: #FDF06F;
$red: #ef494f;
$blue: #0dadf1;

$background-primary: white;
$background-secondary: $light-grey;

$text-color-base: black;
$text-color-secondary: rgba(0, 0, 0, .6);
$text-color-inverse: white;
$text-color-special: $green;
$text-color-button: white;
$link-color: black;
