$Asap: "Asap", Open Sans, Helvetica, Arial, sans-serif;

:root {
  --text-size-xsmall: 80%;
  --text-size-small: 90%;
  --text-size-base: 16px;
  --text-size-medium: 115%;
  --text-size-large: 150%;
}

@font-face {
  font-family: 'Asap';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(/static/fonts/Asap-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Asap';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url(/static/fonts/Asap-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Asap';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(/static/fonts/Asap-Bold.ttf) format('truetype');
}
