:root {
  --text-size-xsmall: 80%;
  --text-size-small: 90%;
  --text-size-base: 16px;
  --text-size-medium: 115%;
  --text-size-large: 150%;
}

@font-face {
  font-family: 'Asap';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Asap-Regular.eot');
  src:
    local('Asap Regular'),
    local('Asap-Regular'),
    url('/fonts/Asap-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Asap-Regular.woff2') format('woff2'),
    url('/fonts/Asap-Regular.woff') format('woff'),
    url('/fonts/Asap-Regular.ttf') format('truetype'),
    url('/fonts/Asap-Regular.svg#Asap-Regular') format('svg');
}

@font-face {
  font-family: 'Asap';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Asap-Medium.eot');
  src:
    local('Asap Medium'),
    local('Asap-Medium'),
    url('/fonts/Asap-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Asap-Medium.woff2') format('woff2'),
    url('/fonts/Asap-Medium.woff') format('woff'),
    url('/fonts/Asap-Medium.ttf') format('truetype'),
    url('/fonts/Asap-Medium.svg#Asap-Medium') format('svg');
}

@font-face {
  font-family: 'Asap';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Asap-Bold.eot');
  src:
    local('Asap Bold'),
    local('Asap-Bold'),
    url('/fonts/Asap-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Asap-Bold.woff2') format('woff2'),
    url('/fonts/Asap-Bold.woff') format('woff'),
    url('/fonts/Asap-Bold.ttf') format('truetype'),
    url('/fonts/Asap-Bold.svg#Asap-Bold') format('svg');
}
