@import "./variables";

input {
  background: white;
  padding: $base-gap;
  color: $text-color-base;
  border: none;
  border-radius: $border-radius;

  &:active,
  &:focus {
    outline: none;
  }
}
