input {
  background: white;
  padding: calc(var(--base-gap) + 5px) var(--base-gap);
  color: var(--text-color-base);
  border: none;
  border-radius: var(--border-radius);

  &:active,
  &:focus {
    outline: none;
    box-shadow:
      0 0 0 2px var(--transparency-black-light),
      0 0 12px var(--transparency-black-light);
  }
}
