@import "./layout";
@import "./colors";

input {
  background: white;
  padding: $base-gap + 5 $base-gap;
  color: $text-color-base;
  border: none;
  border-radius: $border-radius;

  &:active,
  &:focus {
    outline: none;
    box-shadow:
      0 0 0 2px $transparency-black-light,
      0 0 12px $transparency-black-light;
  }
}
