@import "./variables";

.page-header {
  background: white;
  padding: $base-gap;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    text-transform: uppercase;
    color: $text-color-base;
  }
}
