@import "~styles/colors";

$border-radius: 6px;
$base-gap: 15px;
$icon-size: 20px;
$shadow: 4px 4px 0 $dark-transparency;

$app-header-size: 50px;

.is-skeleton {
  background: $grey !important;
  box-shadow: none !important;

  h1, h2, p, span {
    color: transparent !important;
    background: $dark-transparency;
    border-radius: $border-radius;
  }
}
