@import "~styles/colors";

$border-radius: 6px;
$base-gap: 15px;
$icon-size: 20px;
$icon-size-small: 16px;
$plain-shadow: 4px 4px 0 $transparency-black-light;
$inset-shadow: inset 1px 1px 0 $transparency-black-light;
$green-shadow: 4px 4px 0 transparentize($green, 0.8);
$blue-shadow: 4px 4px 0 transparentize($blue, 0.8);
$green-shadow-touch: 2px 2px 0 transparentize($green, 0.8);
$red-shadow: 4px 4px 0 transparentize($red, 0.8);

$app-media-max-size: 600px;
$app-header-size: 50px;

.is-skeleton {
  background: $grey !important;
  box-shadow: none !important;

  h1,
  h2,
  p,
  span {
    color: transparent !important;
    background: $transparency-black-light;
    border-radius: $border-radius;
  }
}
