:root {
  --app-media-max-size: 600px;
  --app-header-size: 60px;
  --app-footer-size: calc(var(--app-header-size) / 1.2);

  --border-radius: 6px;
  --base-gap: 15px;
  --icon-size-base: 20px;
  --icon-size-small: 16px;

  --plain-shadow: 4px 4px 0 var(--transparency-black-light);
  --inset-shadow: inset 1px 1px 0 var(--transparency-black-light);
  --green-shadow: 4px 4px 0 var(--brand-green-low);
  --blue-shadow: 4px 4px 0 var(--brand-blue-low);
  --red-shadow: 4px 4px 0 var(--brand-red-low);

  --background-primary: white;
  --background-secondary: var(--light-grey, #f5f5f5);

  --text-color-base: var(--custom-black);
  --text-color-secondary: rgba(0, 0, 0, 0.6);
  --text-color-inverse: white;
  --text-color-button: white;
  --link-color: var(--text-color-base, #000);

  --transparency-black-light: rgba(0, 0, 0, 0.12);
  --transparency-black-medium: rgba(0, 0, 0, 0.66);
}

.box {
  background: var(--background-primary);
  border-radius: var(--border-radius);
  box-shadow: var(--plain-shadow);
  overflow: hidden;

  &.red {
    background: var(--brand-red);
  }

  &.green {
    background: var(--brand-green);
  }
}

.is-skeleton {
  background: var(--grey) !important;
  box-shadow: none !important;

  h1,
  h2,
  p,
  span {
    color: transparent !important;
    background: var(--transparency-black-light);
    border-radius: var(--border-radius);
  }
}
