:root {
  --app-mobile-max-size: 600px;
  --app-desktop-min-size: 1100px;
  --app-desktop-max-width: 1000px;
  --app-header-size: 60px;
  --app-footer-size: calc(var(--app-header-size) / 1.2);

  --border-radius: 6px;
  --base-gap: 15px;
  --icon-size-base: 20px;
  --icon-size-small: 16px;
}

html {
  --plain-shadow: 4px 4px 0 var(--transparency-black-light);
  --green-shadow: 4px 4px 0 var(--brand-green-low);

  --background-primary: white;
  --background-secondary: var(--light-grey, #f5f5f5);

  --text-color-base: var(--custom-black);
  --text-color-secondary: rgba(0, 0, 0, 0.6);
  --text-color-inverse: white;
  --text-color-button: white;
  --link-color: var(--text-color-base, black);

  --border-color: var(--grey);
  --form-color: var(--background-primary);

  --transparency-black-light: rgba(0, 0, 0, 0.12);
  --transparency-black-medium: rgba(0, 0, 0, 0.66);

  &[data-theme="dark"] {
    --background-primary: var(--custom-black);
    --background-secondary: black;

    --text-color-base: var(--custom-white);
    --text-color-secondary: rgba(255, 255, 255, 0.6);
    --text-color-inverse: black;
    --link-color: var(--text-color-base, white);

    --border-color: var(--custom-black);
  }

  &.js-theme-in-transition,
  &.js-theme-in-transition *,
  &.js-theme-in-transition *::before,
  &.js-theme-in-transition *::after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
  }
}

.box {
  background: var(--background-primary);
  border-radius: var(--border-radius);
  box-shadow: var(--plain-shadow);
  overflow: hidden;

  &.red {
    background: var(--brand-red);
  }

  &.green {
    background: var(--brand-green);
  }
}
