body {
  font-family: $Asap;
  font-size: var(--text-size-base);
  font-weight: 400;
  color: var(--text-color-base);
  line-height: 120%;
  text-rendering: geometricPrecision;
  // Enable best font rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--text-color-base);
  text-decoration: none;

  &[target="_blank"] {
    color: var(--text-color-button);
    text-decoration: none;
    background: var(--brand-green);
    border-radius: var(--border-radius);
    box-shadow: var(--green-shadow);
    padding: 1px 6px;
    margin: 0 2px;
    display: inline-block;
  }

  &[target="_blank"]::after {
    content: "";
    background:
      url("data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAwIDQ1OSA0NTkiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQ1OSA0NTk7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8ZyBpZD0ibGF1bmNoIj4KCQk8cGF0aCBkPSJNNDA4LDQwOEg1MVY1MWgxNzguNVYwSDUxQzIyLjk1LDAsMCwyMi45NSwwLDUxdjM1N2MwLDI4LjA1LDIyLjk1LDUxLDUxLDUxaDM1N2MyOC4wNSwwLDUxLTIyLjk1LDUxLTUxVjIyOS41aC01MVY0MDh6ICAgICBNMjgwLjUsMHY1MWg5MS44TDEyMi40LDMwMC45bDM1LjcsMzUuNjk5TDQwOCw4Ni43djkxLjhoNTFWMEgyODAuNXoiIGZpbGw9IiMwMDAwMDAiLz4KCTwvZz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8L3N2Zz4K")
      no-repeat
      center center;
    background-size: contain;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 0 3px;
    transform: translateY(-2px);
    opacity: 0.4;
  }
}

h1 {
  margin: 0;
  font-weight: 600;
  font-size: var(--text-size-medium);
  color: var(--text-color-base);
}

h2 {
  font-weight: 600;
  font-size: var(--text-size-medium);
}

h3 {
  font-weight: 600;
  font-size: var(--text-size-small);
}
