@import "./variables";

body {
  font-family: $Asap;
  font-size: $text-size-base;
  font-weight: 400;
  color: $text-color-base;
  line-height: 120%;
  text-rendering: geometricPrecision;
  // Enable best font rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $link-color;
  text-decoration: none;
}

h1 {
  margin: 0;
  font-weight: 600;
  font-size: $text-size-medium;
  color: $text-color-base;
}

h2 {
  font-weight: 600;
  font-size: $text-size-base;
}
