// Colors
$light-grey: #F6F5F6 ;
$light-grey200: #DCE1E2;
$grey: #CFCFD0;
$timber-green: #3B493E;
$blue: #A3E2FF;

// Text
$Asap: "Asap", Open Sans, Helvetica, Arial, sans-serif;

$text-size-small: 90%;
$text-size-base: 16px;
$text-size-large: 115%;

$text-color-base: black;
$text-color-special: $timber-green;
$link-color: black;

// Dimensions
$border-radius: 4px;
