// Colors
$light-grey: #DCE1E2;
$light-grey2: #CFCFD0;
$timber-green: #3B493E;
$blue: #A3E2FF;

// Text
$Asap: "Asap", Open Sans, Helvetica, Arial, sans-serif;

$text-base-size: 16px;
$text-base-color: black;
$text-special-color: $timber-green;

$link-color: $blue;

// Dimensions
$border-radius: 8px;
