// Colors
$light-grey: #F5F5F5;
$grey: #D8D8D8;
$green: #17C37B;
$yellow: #FDF06F;
$red: #ef494f;

$background-primary: white;
$background-secondary: $light-grey;

// Text
$Asap: "Asap", Open Sans, Helvetica, Arial, sans-serif;

$text-size-xsmall: 80%;
$text-size-small: 90%;
$text-size-base: 16px;
$text-size-medium: 115%;
$text-size-large: 150%;

$text-color-base: black;
$text-color-inverse: white;
$text-color-special: $green;
$text-color-button: white;
$link-color: black;

// Dimensions
$border-radius: 6px;
$base-gap: 15px;

$icon-size: 20px;

$shadow: 4px 4px 0 rgba(0, 0, 0, .12);

$app-header-size: 50px;

// Animations
$base-speed: 150ms;
$ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
